<div class="similar-articles-bodys  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
    <div class="inner-similar-articles-body  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
        <div class="similar-articles-headers  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="full_headers">
                            <h2>Similar Articles</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="similar-articles-contents  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                        <div class="similar-articles-contents-card  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <div class="inner_cards  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <h4>Real-life Applications of Data Structures and Algorithms (DSA)</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                        <div class="similar-articles-contents-card  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <div class="inner_cards  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <h4>Most Asked Problems in Data Structures and Algorithms | Beginner DSA Sheet</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                        <div class="similar-articles-contents-card  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <div class="inner_cards  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <h4>Data Structures and Algorithms (DSA) MCQ Quiz Online</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                        <div class="similar-articles-contents-card  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <div class="inner_cards  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <h4>Data Structures & Algorithms (DSA) Guide for Google Tech interviews</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                        <div class="similar-articles-contents-card  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <div class="inner_cards  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <h4>Why Data Structures and Algorithms Are Important to Learn?</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                        <div class="similar-articles-contents-card  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <div class="inner_cards  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <h4>Why Every Developer Should Learn Data Structures and Algorithms?</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                        <div class="similar-articles-contents-card  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <div class="inner_cards  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <h4>What is DSA | DSA Full Form</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                        <div class="similar-articles-contents-card  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <div class="inner_cards  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <h4>Top 100 Data Structure and Algorithms (DSA) Interview Questions Topic-wise</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
