<div class="community_page {{ isNightMode ? 'night_mode' : 'day_mode' }}">
    <div class="inner_community_page_section {{ isNightMode ? 'night_mode' : 'day_mode' }}">
        <div class="community_header {{ isNightMode ? 'night_mode' : 'day_mode' }}">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-xl-3 col-lg-2"></div>
                    <div class="col-xl-6 col-lg-8 col-md-12">
                        <div class="inner_community_header {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <h2>Look into our community!!</h2>
                            <p>If you are looking for a community to help you find solutions to your problems.<br>You can look into our community for more fresh mindsets and solutions.</p>
                        </div>
                        <div class="community_search_ber {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <div class="inner_community_search_ber {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <span class="search_icons {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                              <path d="M22.6665 22.6667L27.9998 28" stroke="#212B36" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M4 14.6667C4 20.5577 8.77563 25.3333 14.6667 25.3333C17.6173 25.3333 20.2881 24.1353 22.2192 22.1991C24.1436 20.2696 25.3333 17.6071 25.3333 14.6667C25.3333 8.77563 20.5577 4 14.6667 4C8.77563 4 4 8.77563 4 14.6667Z" stroke="#212B36" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                          </span>
                                <input type="text" placeholder="Search">
                                <button class="search_btns {{ isNightMode ? 'night_mode' : 'day_mode' }}" routerLink="/threads-search">
                              Search
                            </button>
                            </div>
                        </div>
                        <div class="threads-search">
                            <div class="inner_community_options">
                                <div class="topic_options {{ isNightMode ? 'night_mode' : 'day_mode' }}  dropdown-select" id="dropboxcm">
                                    <select class="select-boxcm">
                              <option></option>
                              <option value="1">Java</option>
                              <option value="2">PHP</option>
                              <option value="3">JavaScript</option>
                              <option value="4">Ruby</option>
                              <option value="5">Python</option>
                              <option value="6">HTML</option>
                              <option value="7">CSS</option>
                            </select>
                                    <span class="selection {{ isNightMode ? 'night_mode' : 'day_mode' }}  " id="selected_titlecm">Topic</span>
                                    <span class="right-icon {{ isNightMode ? 'night_mode' : 'day_mode' }}  {{ isNightMode ? 'night_mode' : 'day_mode' }}  ">
                                <i class="fa-solid fa-chevron-down"></i>
                              </span>
                                    <ul class="list-itemscm {{ isNightMode ? 'night_mode' : 'day_mode' }}  ">
                                        <li data-value="1">Java</li>
                                        <li data-value="2">PHP</li>
                                        <li data-value="3">JavaScript</li>
                                        <li data-value="4">Ruby</li>
                                        <li data-value="5">Python</li>
                                        <li data-value="6">HTML</li>
                                        <li data-value="7">CSS</li>
                                    </ul>

                                </div>
                                <div class="topic_options {{ isNightMode ? 'night_mode' : 'day_mode' }}   dropdown-select" id="dropboxcmm">
                                    <select class=" select-boxcmm">
                              <option></option>
                              <option value="1">Java</option>
                              <option value="2">PHP</option>
                              <option value="3">JavaScript</option>
                              <option value="4">Ruby</option>
                              <option value="5">Python</option>
                              <option value="6">HTML</option>
                              <option value="7">CSS</option>
                            </select>
                                    <span class="selection {{ isNightMode ? 'night_mode' : 'day_mode' }}  " id="selected_titlecmm">Category</span>
                                    <span class="right-icon {{ isNightMode ? 'night_mode' : 'day_mode' }}  ">
                                <i class="fa-solid fa-chevron-down"></i>
                              </span>
                                    <ul class="list-itemscmm {{ isNightMode ? 'night_mode' : 'day_mode' }}  ">
                                        <li data-value="1">Java</li>
                                        <li data-value="2">PHP</li>
                                        <li data-value="3">JavaScript</li>
                                        <li data-value="4">Ruby</li>
                                        <li data-value="5">Python</li>
                                        <li data-value="6">HTML</li>
                                        <li data-value="7">CSS</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="threads_body {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <div class="threads_header {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <h4>Popular Community Threads</h4>
                            </div>
                            <div class="threads_content {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <threads></threads>
                                <threads></threads>
                                <threads></threads>
                                <threads></threads>
                            </div>
                        </div>
                        <div class="view_more_threads {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <button>
                            View more threads
                          </button>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-2"></div>
                </div>
            </div>
        </div>
        <!-- massive-community-body -->
        <div class="massive-community-body {{ isNightMode ? 'night_mode' : 'day_mode' }}">
            <massive-community></massive-community>
        </div>
    </div>
</div>