<div class="related-sidebes   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
    <div class="inner_related_related-sideber   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
        <div class="thread_side_bers   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
            <div class="inner_thread_side_bers   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                <div class="thread_side_bers_headers   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                    <h4>Related Threads</h4>
                </div>
                <div class="threads_questions   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                    <ul>
                        <li>
                            <a href="">How to solve problems in DSA?</a>
                        </li>
                        <li>
                            <a href="">Advanced DSA</a>
                        </li>
                        <li>
                            <a href="">Stack Data Structures</a>
                        </li>
                        <li>
                            <a href="">Array Data Structures</a>
                        </li>
                        <li>
                            <a href="">String Data Structures</a>
                        </li>
                        <li>
                            <a href="">Linked List Data Structures</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="related_add_sections   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
    <div class="related_add_sectiuoins   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
        <div class="add_box   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
            <h4>AD</h4>
        </div>
    </div>
</div>
