<div class="sideber_wraper   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
    <div class="inner_sideber_wraper   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
        <div class="side_header   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
            <h4>Data Structures</h4>
            <div class="side_serch_ber   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                <div class="side_inner_serch_ber   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                    <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                    <path d="M17 17.5L21 21.5" stroke="#212B36" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M3 11.5C3 15.9183 6.58172 19.5 11 19.5C13.213 19.5 15.2161 18.6015 16.6644 17.1493C18.1077 15.7022 19 13.7053 19 11.5C19 7.08172 15.4183 3.5 11 3.5C6.58172 3.5 3 7.08172 3 11.5Z" stroke="#212B36" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </span>
                    <input type="text" name="" placeholder="Search in Data Structures">
                </div>
            </div>
        </div>
        <div class="side_ber_menu_options_list   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
            <div class="side_ber_inner_menus_list   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                <ul>
                    <li>
                        <a href="" class="active   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                        Data Structures Basics
                      </a>
                    </li>
                    <li>
                        <a href="">
                        Array Data Structure
                      </a>
                    </li>
                    <li>
                        <a href="">String Data Structure</a>
                    </li>
                    <li>
                        <a href="">Linked List Data Structure</a>
                    </li>
                    <li>
                        <a href="">Stack Data Structure</a>
                    </li>
                    <li>
                        <a href="">Queue Data Structure</a>
                    </li>
                    <li>
                        <a href="">Tree Data Structure</a>
                    </li>
                    <li>
                        <a href="">Heap Data Structure</a>
                    </li>
                    <li>
                        <a href="">Matrix Data Structure</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
