<div class="browse-topic  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
    <div class="inner_browse_topic">
        <div class="browse_topic_heading  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="browse_wraping  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <h2>Browse the topics</h2>
                            <p>These are the common topics from which most ot the programmers face problems are<br/>described here with proper explanation by our expert team.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="browse_topic_main_content  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="browse_topic_main  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <div class="browse_topic_card  {{ isNightMode ? 'night_mode' : 'day_mode' }}" *ngFor="let browseTopic of browseTopics">
                                <div class="inner_browse_topic_card  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="card_img  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <img src="../../../../../assets/img/Angular.png" alt="">
                                    </div>
                                    <div class="card_content  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                         <p>{{browseTopic.title}}</p>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="browse_topic_card  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <div class="inner_browse_topic_card  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="card_img  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <img src="../../../../../assets/img/python.png" alt="">
                                    </div>
                                    <div class="card_content  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <p>Python</p>
                                    </div>
                                </div>
                            </div>
                            <div class="browse_topic_card  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <div class="inner_browse_topic_card  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="card_img  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <img src="../../../../../assets/img/php.png" alt="">
                                    </div>
                                    <div class="card_content  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <p>PHP</p>
                                    </div>
                                </div>
                            </div>
                            <div class="browse_topic_card  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <div class="inner_browse_topic_card  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="card_img  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <img src="../../../../../assets/img/css.png" alt="">
                                    </div>
                                    <div class="card_content  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <p>CSS</p>
                                    </div>
                                </div>
                            </div>
                            <div class="browse_topic_card  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <div class="inner_browse_topic_card  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="card_img  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <img src="../../../../../assets/img/nextJS.png" alt="">
                                    </div>
                                    <div class="card_content  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <p>Next JS</p>
                                    </div>
                                </div>
                            </div>
                            <div class="browse_topic_card  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <div class="inner_browse_topic_card  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="card_img  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <img src="../../../../../assets/img/viu.png" alt="">
                                    </div>
                                    <div class="card_content  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <p>Vue JS</p>
                                    </div>
                                </div>
                            </div>
                            <div class="browse_topic_card  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <div class="inner_browse_topic_card  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="card_img  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <img src="../../../../../assets/img/react.png" alt="">
                                    </div>
                                    <div class="card_content  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <p>React</p>
                                    </div>
                                </div>
                            </div>
                            <div class="browse_topic_card  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <div class="inner_browse_topic_card  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="card_img  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <img src="../../../../../assets/img/typeScript.png" alt="">
                                    </div>
                                    <div class="card_content  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <p>Type Script</p>
                                    </div>
                                </div>
                            </div>
                            <div class="browse_topic_card  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <div class="inner_browse_topic_card  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="card_img  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <img src="../../../../../assets/img/viu.png" alt="">
                                    </div>
                                    <div class="card_content  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <p>Vue JS</p>
                                    </div>
                                </div>
                            </div>
                            <div class="browse_topic_card  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <div class="inner_browse_topic_card  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="card_img  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <img src="../../../../../assets/img/css.png" alt="">
                                    </div>
                                    <div class="card_content  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <p>CSS</p>
                                    </div>
                                </div>
                            </div>
                            <div class="browse_topic_card  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <div class="inner_browse_topic_card  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="card_img  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <img src="../../../../../assets/img/php.png" alt="">
                                    </div>
                                    <div class="card_content  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <p>PHP</p>
                                    </div>
                                </div>
                            </div>
                            <div class="browse_topic_card  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <div class="inner_browse_topic_card  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="card_img  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <img src="../../../../../assets/img/react.png" alt="">
                                    </div>
                                    <div class="card_content  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <p>React</p>
                                    </div>
                                </div>
                            </div>
                            <div class="browse_topic_card  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <div class="inner_browse_topic_card  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="card_img  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <img src="../../../../../assets/img/python.png" alt="">
                                    </div>
                                    <div class="card_content  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <p>Python</p>
                                    </div>
                                </div>
                            </div>
                            <div class="browse_topic_card  {{ isNightMode ? 'night_mode' : 'day_mode' }}"> -->
                                <!-- <div class="inner_browse_topic_card  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="card_img  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <img src="../../../../../assets/img/Angular.png" alt="">
                                    </div>
                                    <div class="card_content  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <p>Angular</p>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="view_all">
                            <button class="v_all_btn   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            View all the topics
                          </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
