<!-- <p>home works! {{ this.isNightMode }}</p> -->
<div class="home {{ isNightMode ? 'night_mode' : 'day_mode' }}">
    <banner></banner>
    <step-programmers class="home {{ isNightMode ? 'night_mode' : 'day_mode' }}"></step-programmers>
    <browse-topic class="home {{ isNightMode ? 'night_mode' : 'day_mode' }}"></browse-topic>
    <ask-our-community class="home {{ isNightMode ? 'night_mode' : 'day_mode' }}"></ask-our-community>
    <newsletter class="home {{ isNightMode ? 'night_mode' : 'day_mode' }}"></newsletter>
</div>
