<div class="singel_thread_sections  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
    <div class="inner_singel_threads  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-9">
                    <div class="main_pahe_content_ares  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                        <div class="widget_areas  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <div class="inner_widget_areas  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <div class="widget_header  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6">
                                            <div class="widget_left_siders  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                <div class="img_admin_box  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                    <div class="inner_img_admin_box  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                        <img src="../../../../assets/img/avt.png" alt="" srcset="">
                                                    </div>
                                                    <div class="admin_contents  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                        <h3>Marina Badurina</h3>
                                                        <h5>
                                                            Posted 2 days ago
                                                        </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6">
                                            <div class="right_side_post_element  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                <div class="inner_post_elements  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                    <div class="top_element  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                        <ul>
                                                            <li>
                                                                <a href="">
                                                                    <span>
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none">
                                                                      <path d="M9.5 10.5C10.3284 10.5 11 9.82843 11 9C11 8.17157 10.3284 7.5 9.5 7.5C8.67157 7.5 8 8.17157 8 9C8 9.82843 8.67157 10.5 9.5 10.5Z" stroke="#919EAB" stroke-opacity="0.8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                                      <path d="M16.25 9C14.8336 11.2432 12.2888 13.5 9.50001 13.5C6.71127 13.5 4.16642 11.2432 2.75 9C4.47392 6.86868 6.49372 4.5 9.50001 4.5C12.5063 4.5 14.5261 6.86865 16.25 9Z" stroke="#919EAB" stroke-opacity="0.8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                                    </svg>
                                                                  </span> 1923
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="">
                                                                    <span>
                                                                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                                                        <g clip-path="url(#clip0_213_5686)">
                                                                          <path d="M9 16.5C13.1421 16.5 16.5 13.1421 16.5 9C16.5 4.85786 13.1421 1.5 9 1.5C4.85786 1.5 1.5 4.85786 1.5 9C1.5 10.3661 1.86523 11.6468 2.50337 12.75L1.875 16.125L5.25 15.4966C6.35315 16.1348 7.63392 16.5 9 16.5Z" stroke="#919EAB" stroke-opacity="0.8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                                        </g>
                                                                        <defs>
                                                                          <clipPath id="clip0_213_5686">
                                                                            <rect width="18" height="18" fill="white"/>
                                                                          </clipPath>
                                                                        </defs>
                                                                      </svg>
                                                                </span> 200
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="">
                                                                    <span>
                                                                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                                                        <g clip-path="url(#clip0_213_5690)">
                                                                          <path d="M9 4.5L9 9L13.5 9" stroke="#919EAB" stroke-opacity="0.8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                                          <path d="M9 16.5C13.1421 16.5 16.5 13.1421 16.5 9C16.5 4.85786 13.1421 1.5 9 1.5C4.85786 1.5 1.5 4.85786 1.5 9C1.5 13.1421 4.85786 16.5 9 16.5Z" stroke="#919EAB" stroke-opacity="0.8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                                        </g>
                                                                        <defs>
                                                                          <clipPath id="clip0_213_5690">
                                                                            <rect width="18" height="18" fill="white"/>
                                                                          </clipPath>
                                                                        </defs>
                                                                      </svg>
                                                              </span> 2 days ago
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="bottom_language  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                        <div class="threads_language  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                            <div class="threads_language_list  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                                <ul>
                                                                    <li><a href="" class="green  {{ isNightMode ? 'night_mode' : 'day_mode' }}"><span >DSA</span></a></li>
                                                                    <li><a href="" class="pink  {{ isNightMode ? 'night_mode' : 'day_mode' }}"><span >Algorithms</span></a></li>
                                                                    <li><a href="" class="blue  {{ isNightMode ? 'night_mode' : 'day_mode' }}"><span >PHP</span></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="post_tile  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="inner_post_title  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <h4>jquery mask plugin and Livewire problem</h4>
                                    </div>
                                </div>
                                <div class="post_content  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="inner_post_content  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <p>
                                            Using Livewire 3 I have a parent and a child components.
                                        </p>
                                        <p>

                                            The child component has a form and I want to use jQuery mask plugin to use on the phone input field.
                                        </p>
                                    </div>
                                </div>
                                <common-editor></common-editor>
                                <div class="post_editor_description  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <p>I tried to put the code on the parent, on the child, out of the component's div, in the component's div, with push('js') without push('js')</p>
                                </div>
                                <div class="submit_section_off_post  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="post_submit  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <ul>
                                            <li>
                                                <button class="green_txt  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                <span>
                                                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none">
                                                    <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 13.8214 2.48697 15.5291 3.33782 17L2.5 21.5L7 20.6622C8.47087 21.513 10.1786 22 12 22Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                  </svg>
                                                </span>
                                                Reply
                                              </button>
                                            </li>
                                            <li>
                                                <button>
                                              <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none">
                                                  <path d="M18 22C19.6569 22 21 20.6569 21 19C21 17.3431 19.6569 16 18 16C16.3431 16 15 17.3431 15 19C15 20.6569 16.3431 22 18 22Z" stroke="#212B36" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                  <path d="M18 8C19.6569 8 21 6.65685 21 5C21 3.34315 19.6569 2 18 2C16.3431 2 15 3.34315 15 5C15 6.65685 16.3431 8 18 8Z" stroke="#212B36" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                  <path d="M6 15C7.65685 15 9 13.6569 9 12C9 10.3431 7.65685 9 6 9C4.34315 9 3 10.3431 3 12C3 13.6569 4.34315 15 6 15Z" stroke="#212B36" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                  <path d="M15.5 6.5L8.5 10.5" stroke="#212B36" stroke-width="1.5"/>
                                                  <path d="M8.5 13.5L15.5 17.5" stroke="#212B36" stroke-width="1.5"/>
                                                </svg>
                                              </span>
                                              Share
                                            </button>
                                            </li>
                                            <li>
                                                <button>
                                            <span>
                                              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none">
                                                <path d="M5 21V5C5 3.89543 5.89543 3 7 3H17C18.1046 3 19 3.89543 19 5V21L13.0815 17.1953C12.4227 16.7717 11.5773 16.7717 10.9185 17.1953L5 21Z" stroke="#212B36" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                              </svg>
                                            </span>
                                            Bookmark
                                          </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- next-widget-areas-for-replay -->
                        <div class="widget_areas areas-for-replay  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <div class="inner_widget_areas  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <div class="widget_header  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6">
                                            <div class="widget_left_siders  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                <div class="img_admin_box  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                    <div class="inner_img_admin_box small_img  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                        <img src="../../../../assets/img/admin.png" alt="" srcset="">
                                                    </div>
                                                    <div class="admin_contents">
                                                        <h3>Marina Badurina</h3>
                                                        <h5>
                                                            Posted 2 days ago
                                                        </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6">
                                            <div class="right_side_post_element  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                <div class="inner_post_elements  {{ isNightMode ? 'night_mode' : 'day_mode' }}">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="post_content mor_replay  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="inner_post_content  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <p>
                                            She eagerly opened the gift, her eyes sparkling with excitement.
                                        </p>

                                    </div>
                                </div>
                                <div class="for_replay_editors  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <common-editor></common-editor>
                                </div>

                                <div class="post_replay_submit_elements  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="post_replay_submit_elements_ineer_sect  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <ul>
                                            <li>
                                                <button class="replay  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                <span>
                                                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                                    <path d="M10.7724 4.23867L11.5288 3.48223C12.3099 2.70118 13.5762 2.70118 14.3572 3.48223L14.7108 3.83579C15.4918 4.61683 15.4918 5.88317 14.7108 6.66421L13.9543 7.42065M10.7724 4.23867L3.68913 11.3219C3.35706 11.654 3.15243 12.0923 3.11111 12.5601L2.9718 14.1371C2.91703 14.7571 3.4359 15.276 4.05591 15.2212L5.63289 15.0819C6.1007 15.0406 6.53904 14.836 6.87111 14.5039L13.9543 7.42065M10.7724 4.23867L13.9543 7.42065" stroke="#007867" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                  </svg>
                                                </span>
                                                Reply
                                              </button>
                                            </li>
                                            <li>
                                                <button class="gray_btns  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                              <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                                  <path d="M9.1875 13.875V4.5M9.1875 4.5L13.6875 9M9.1875 4.5L4.6875 9" stroke="#212B36" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                              </span>
                                              1.62k
                                            </button>
                                            </li>
                                            <li>
                                                <button class="gray_btns  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                            <span>
                                              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                                <path d="M9.1875 4.125V13.5M9.1875 13.5L4.6875 9M9.1875 13.5L13.6875 9" stroke="#212B36" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                              </svg>
                                            </span>
                                            300
                                          </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- next-widget-areas--for-for-replay -->
                        <div class="wrape_replays  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <div class="widget_areas areas-for-for-replay  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <div class="inner_widget_areas  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="widget_header  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6">
                                                <div class="widget_left_siders  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                    <div class="img_admin_box  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                        <div class="inner_img_admin_box small_img  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                            <img src="../../../../assets/img/admin.png" alt="" srcset="">
                                                        </div>
                                                        <div class="admin_contents  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                            <h3>Marina Badurina</h3>
                                                            <h5>
                                                                Posted 2 days ago
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6">
                                                <div class="right_side_post_element  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                    <div class="inner_post_elements  {{ isNightMode ? 'night_mode' : 'day_mode' }}">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="desk_imgs_bodys  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <img src="../../../../assets/img/desks.png" alt="" srcset="">
                                    </div>

                                    <div class="post_replay_submit_elements  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <div class="post_replay_submit_elements_ineer_sect  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                            <ul>
                                                <li>
                                                    <button class="replay  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                              <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                                  <path d="M10.7724 4.23867L11.5288 3.48223C12.3099 2.70118 13.5762 2.70118 14.3572 3.48223L14.7108 3.83579C15.4918 4.61683 15.4918 5.88317 14.7108 6.66421L13.9543 7.42065M10.7724 4.23867L3.68913 11.3219C3.35706 11.654 3.15243 12.0923 3.11111 12.5601L2.9718 14.1371C2.91703 14.7571 3.4359 15.276 4.05591 15.2212L5.63289 15.0819C6.1007 15.0406 6.53904 14.836 6.87111 14.5039L13.9543 7.42065M10.7724 4.23867L13.9543 7.42065" stroke="#007867" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                              </span>
                                              Reply
                                            </button>
                                                </li>
                                                <li>
                                                    <button class="gray_btns  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                            <span>
                                              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                                <path d="M9.1875 13.875V4.5M9.1875 4.5L13.6875 9M9.1875 4.5L4.6875 9" stroke="#212B36" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                              </svg>
                                            </span>
                                            1.62k
                                          </button>
                                                </li>
                                                <li>
                                                    <button class="gray_btns  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                          <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                              <path d="M9.1875 4.125V13.5M9.1875 13.5L4.6875 9M9.1875 13.5L13.6875 9" stroke="#212B36" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                          </span>
                                          300
                                        </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- only-for-coments only_indicatess-->
                            <div class="widget_areas areas-for-for-replay only_indicatess  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <div class="inner_widget_areas  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="widget_header  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6">
                                                <div class="widget_left_siders  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                    <div class="img_admin_box  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                        <div class="inner_img_admin_box small_img  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                            <img src="../../../../assets/img/admin.png" alt="" srcset="">
                                                        </div>
                                                        <div class="admin_contents  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                            <h3>Marina Badurina</h3>
                                                            <h5>
                                                                Posted 2 days ago
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6">
                                                <div class="right_side_post_element  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                    <div class="inner_post_elements  {{ isNightMode ? 'night_mode' : 'day_mode' }}">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="post_content mor_replay  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <div class="inner_post_content  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                            <p> She eagerly opened the gift, her eyes sparkling with excitement. </p>
                                        </div>
                                    </div>

                                    <div class="post_replay_submit_elements  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <div class="post_replay_submit_elements_ineer_sect  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                            <ul>
                                                <li>
                                                    <button class="replay  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                            <span>
                                              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                                <path d="M10.7724 4.23867L11.5288 3.48223C12.3099 2.70118 13.5762 2.70118 14.3572 3.48223L14.7108 3.83579C15.4918 4.61683 15.4918 5.88317 14.7108 6.66421L13.9543 7.42065M10.7724 4.23867L3.68913 11.3219C3.35706 11.654 3.15243 12.0923 3.11111 12.5601L2.9718 14.1371C2.91703 14.7571 3.4359 15.276 4.05591 15.2212L5.63289 15.0819C6.1007 15.0406 6.53904 14.836 6.87111 14.5039L13.9543 7.42065M10.7724 4.23867L13.9543 7.42065" stroke="#007867" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                              </svg>
                                            </span>
                                            Reply
                                          </button>
                                                </li>
                                                <li>
                                                    <button class="gray_btns  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                          <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                              <path d="M9.1875 13.875V4.5M9.1875 4.5L13.6875 9M9.1875 4.5L4.6875 9" stroke="#212B36" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                          </span>
                                          1.62k
                                        </button>
                                                </li>
                                                <li>
                                                    <button class="gray_btns  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <span>
                                          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                            <path d="M9.1875 4.125V13.5M9.1875 13.5L4.6875 9M9.1875 13.5L13.6875 9" stroke="#212B36" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                          </svg>
                                        </span>
                                        300
                                      </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- only-coment-replay -->
                        <div class="widget_areas areas-for-replay  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <div class="inner_widget_areas  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <div class="widget_header  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6">
                                            <div class="widget_left_siders  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                <div class="img_admin_box  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                    <div class="inner_img_admin_box small_img  {{ isNightMode ? 'night_mode' : 'day_mode' }}"><img src="../../../../assets/img/admin.png" alt="" srcset=""></div>
                                                    <div class="admin_contents  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                        <h3>Jayvion Simon</h3>
                                                        <h5> Posted 2 days ago </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6">
                                            <div class="right_side_post_element  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                <div class="inner_post_elements  {{ isNightMode ? 'night_mode' : 'day_mode' }}"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="post_content mor_replay  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="inner_post_content  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <p> She eagerly opened the gift, her eyes sparkling with excitement. </p>
                                    </div>
                                </div>

                                <div class="post_replay_submit_elements  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="post_replay_submit_elements_ineer_sect  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <ul>
                                            <li><button class="replay  {{ isNightMode ? 'night_mode' : 'day_mode' }}"><span><svg  xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none"><path  d="M10.7724 4.23867L11.5288 3.48223C12.3099 2.70118 13.5762 2.70118 14.3572 3.48223L14.7108 3.83579C15.4918 4.61683 15.4918 5.88317 14.7108 6.66421L13.9543 7.42065M10.7724 4.23867L3.68913 11.3219C3.35706 11.654 3.15243 12.0923 3.11111 12.5601L2.9718 14.1371C2.91703 14.7571 3.4359 15.276 4.05591 15.2212L5.63289 15.0819C6.1007 15.0406 6.53904 14.836 6.87111 14.5039L13.9543 7.42065M10.7724 4.23867L13.9543 7.42065" stroke="#007867" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></span> Reply </button></li>
                                            <li><button class="gray_btns  {{ isNightMode ? 'night_mode' : 'day_mode' }}"><span ><svg  xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none"><path  d="M9.1875 13.875V4.5M9.1875 4.5L13.6875 9M9.1875 4.5L4.6875 9" stroke="#212B36" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></span> 1.62k </button></li>
                                            <li><button class="gray_btns  {{ isNightMode ? 'night_mode' : 'day_mode' }}"><span ><svg  xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none"><path  d="M9.1875 4.125V13.5M9.1875 13.5L4.6875 9M9.1875 13.5L13.6875 9" stroke="#212B36" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></span> 300 </button></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- only-coment-replay -->
                        <div class="widget_areas areas-for-replay  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <div class="inner_widget_areas  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <div class="widget_header  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6">
                                            <div class="widget_left_siders  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                <div class="img_admin_box  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                    <div class="inner_img_admin_box small_img  {{ isNightMode ? 'night_mode' : 'day_mode' }}"><img src="../../../../assets/img/admin.png" alt="" srcset=""></div>
                                                    <div class="admin_contents  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                        <h3>Jayvion Simon</h3>
                                                        <h5> Posted 2 days ago </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6">
                                            <div class="right_side_post_element  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                <div class="inner_post_elements  {{ isNightMode ? 'night_mode' : 'day_mode' }}"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="post_content mor_replay  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="inner_post_content  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <p> She eagerly opened the gift, her eyes sparkling with excitement. </p>
                                    </div>
                                </div>

                                <div class="post_replay_submit_elements  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="post_replay_submit_elements_ineer_sect  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <ul>
                                            <li><button class="replay  {{ isNightMode ? 'night_mode' : 'day_mode' }}"><span><svg  xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none"><path  d="M10.7724 4.23867L11.5288 3.48223C12.3099 2.70118 13.5762 2.70118 14.3572 3.48223L14.7108 3.83579C15.4918 4.61683 15.4918 5.88317 14.7108 6.66421L13.9543 7.42065M10.7724 4.23867L3.68913 11.3219C3.35706 11.654 3.15243 12.0923 3.11111 12.5601L2.9718 14.1371C2.91703 14.7571 3.4359 15.276 4.05591 15.2212L5.63289 15.0819C6.1007 15.0406 6.53904 14.836 6.87111 14.5039L13.9543 7.42065M10.7724 4.23867L13.9543 7.42065" stroke="#007867" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></span> Reply </button></li>
                                            <li><button class="gray_btns  {{ isNightMode ? 'night_mode' : 'day_mode' }}"><span ><svg  xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none"><path  d="M9.1875 13.875V4.5M9.1875 4.5L13.6875 9M9.1875 4.5L4.6875 9" stroke="#212B36" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></span> 1.62k </button></li>
                                            <li><button class="gray_btns  {{ isNightMode ? 'night_mode' : 'day_mode' }}"><span ><svg  xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none"><path  d="M9.1875 4.125V13.5M9.1875 13.5L4.6875 9M9.1875 13.5L13.6875 9" stroke="#212B36" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></span> 300 </button></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3">
                    <div class="side_add_sections  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                        <div class="related_add_sections only_mt_0  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <div class="related_add_sectiuoins  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <div class="add_box  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <h4>AD</h4>
                                </div>
                            </div>
                        </div>
                        <div class="related_add_sections  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <div class="related_add_sectiuoins  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <div class="add_box  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <h4>AD</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ms-comunity -->
    <community></community>
</div>