<div class="newsletter {{ isNightMode ? 'night_mode' : 'day_mode' }}">
    <div class="inner_newsletter {{ isNightMode ? 'night_mode' : 'day_mode' }}">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-12">
                    <div class="evvelop_sections">
                        <div class="img_evvelop_sections {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <img src="../../../../../assets/img/envelope-bro.png" alt="" srcset="" class="light-img {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <img src="../../../../../assets/img/dark_en.png" alt="" srcset="" class="dark-img {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-12">
                    <div class="evvelop_sections_content">
                        <div class="evvelop_headingss {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <h3>Subscribe for newsletter</h3>
                            <p>Get weekly newsletter from Coding Gurus about the latest topics on Coding Gurus</p>
                        </div>
                        <div class="evvelop_search_box">
                            <input type="text" placeholder="Enter your email here" class="evvelop_search_input {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <button class="subscribe_btn {{ isNightMode ? 'night_mode' : 'day_mode' }}">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
