.img_evvelop_sections>img {
    width: 100%;
}

.evvelop_headingss>h3 {
    color: var(--text-primary, #212B36);
    font-family: Satoshi;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 1;
    /* 133.333% */
    margin-bottom: 10px;
}

.evvelop_headingss>p {
    color: var(--text-secondary, #637381);
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    /* 150% */
    margin-bottom: 0;
}

.evvelop_headingss {
    margin-bottom: 40px;
}

input.evvelop_search_input {
    border-radius: var(--button-min-width, 64px);
    opacity: var(--textfield-standard-input-small-pt, 1);
    background: var(--grey-8, rgba(145, 158, 171, 0.08));
    width: 100%;
    padding: 14px 20px;
    border: none;
    outline: none;
}

.evvelop_search_box {
    position: relative;
}

button.subscribe_btn {
    position: absolute;
    right: 8px;
    border-radius: 500px;
    background: var(--main-light-primary, #00A76F);
    color: var(--primary-contrast-text, #FFF);
    font-family: Satoshi;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    /* 173.333% */
    padding: 12px 20px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    outline: none;
}

input.evvelop_search_input::placeholder {
    overflow: hidden;
    color: var(--text-disabled, #919EAB);
    text-overflow: ellipsis;
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.evvelop_sections_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}


/*dark-mood*/

img.dark-img.day_mode {
    display: block;
}

img.light-img.day_mode {
    display: none;
}

img.dark-img.night_mode {
    display: none;
}

img.light-img.night_mode {
    display: block;
}

.evvelop_headingss.day_mode>h3 {
    color: #fff !important;
}

img.dark-img.day_mode {
    display: block;
}

img.light-img.day_mode {
    display: none;
}

img.dark-img.night_mode {
    display: none;
}

img.light-img.night_mode {
    display: block;
}

;
.evvelop_headingss.day_mode>p {
    color: #919EAB !important;
}

button.subscribe_btn.day_mode {
    border-radius: 500px;
    background: var(--main-light-primary, #5BE49B);
}

input.evvelop_search_input.day_mode {
    color: #fff;
}


/*next-column*/

@media only screen and (max-width: 1222px) and (min-width: 999px) {}

@media only screen and (max-width: 1658px) and (min-width: 1000px) {}

@media only screen and (max-width: 1002px) and (min-width: 665px) {}

@media only screen and (max-width: 664px) and (min-width: 300px) {}


/* js_cont_justify */

@media only screen and (max-width: 1398px) and (min-width: 993px) {}

@media only screen and (max-width: 999px) and (min-width: 300px) {}

@media only screen and (max-width: 826px) and (min-width: 300px) {}

@media only screen and (max-width: 480px) and (min-width: 300px) {}

@media only screen and (max-width: 370px) and (min-width: 320px) {}

@media only screen and (max-width: 900px) and (min-width: 370px) {}

@media only screen and (max-width: 790px) and (min-width: 300px) {
    .newsletter {
        padding-bottom: 60px;
    }
}

@media only screen and (max-width: 1920px) and (min-width: 1080px) {}

@media only screen and (max-width: 999px) and (min-width: 826px) {}

@media only screen and (max-width: 11200px) and (min-width: 1600px) {}

@media only screen and (max-width: 999px) and (min-width: 400px) {}

@media only screen and (max-width: 999px) and (min-width: 551px) {}

@media only screen and (max-width: 1382px) and (min-width: 1000px) {}

@media only screen and (max-width: 1480px) and (min-width: 1000px) {}

@media only screen and (max-width: 1524px) and (min-width: 1422px) {}

@media only screen and (max-width: 1657) and (min-width: 1524px) {}

@media only screen and (max-width: 11200px) and (min-width: 1400px) {}

@media only screen and (max-width: 1000px) and (min-width: 700px) {}

@media only screen and (max-width: 999px) and (min-width: 300px) {}

@media only screen and (max-width: 999px) and (min-width: 768px) {}

@media only screen and (max-width: 767px) and (min-width: 300px) {
    .evvelop_headingss>h3 {
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
    }
}

@media only screen and (max-width: 4999px) and (min-width: 999px) {}

@media only screen and (max-height: 4999px) and (min-height: 990px) {}
