<div class="article_sections   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
    <div class="inner_article_sections   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
        <div class="container-fluid   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
            <div class="row">
                <div class="col-xl-3">
                    <div class="artical_sideber   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                        <course-sideber [topics]="topics"></course-sideber>
                    </div>
                </div>
                <div class="col-xl-9">
                    <div class="main_header_artical_sections   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                        <course-details-header></course-details-header>
                    </div>
                    <div class="artical_details_bodys   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                        <div class="inner_article_bodys   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <div class="container-fluid   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <div class="row">
                                    <div class="col-xl-9">
                                        <div class="section_optionss   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                            <course-details-main-content></course-details-main-content>
                                        </div>
                                    </div>
                                    <div class="col-xl-3">
                                        <div class="related_side_bers   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                            <course-related-header></course-related-header>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- similar-articles -->
    <div class="similar-articles-areas">
        <similar-course-details></similar-course-details>
    </div>
</div>
