<div class="massive-community-section  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
    <div class="inner_massive-community  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="illustration_boxes  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                        <div class="inner_illustration_boxes  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <img src="../../../../../assets/img/codding_illu.png" alt="" srcset="" class="day_img {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <img src="../../../../../assets/img/dark_cm.png" alt="" srcset="" class="dark_img {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="massive-community-content  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                        <div class="inner_massive_community_content  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <h2> A massive community of<br>programmers just like you.</h2>
                            <p> Think of Coding Gurus sort of like Netflix, but for developers. You could spend weeks binging, and still not get through all the content we have to offer. Push your web development skills to the next level, through expert screencasts
                                on PHP, Laravel, Vue, and much more.</p>
                            <div class="section_btns  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <button class="sec_btns  {{ isNightMode ? 'night_mode' : 'day_mode' }}">Join the community</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
