<div class="artical_section_wrapers   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
    <div class="inner_artical_wraper   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
        <div class="artical_section_column   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
            <h2 *ngIf="contents!=null">{{contents.content.title}}</h2>
            <p *ngIf="contents!=null">{{contents.content.text}}</p>
        </div>
        <div class="tag_lines   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
            <h4>“The term DSA stands for Data Structures and Algorithms, in the context of Computer Science.”</h4>
        </div>
        <div class="screen_shoot_box   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
            <div class="inner_screen_shoot_boxs   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                <img src="../../../../../assets/img/screen_one.png" alt="">
            </div>
            <div class="image_title   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                <h4>{{content.title}}</h4>
            </div>
        </div>
        <div class="artical_section_column   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
            <p>{{content.text}}</p>
            <!-- <p>So you have heard about this site or you have been to it, but you cannot figure out what it is or what it can do. MTA web directory is the simplest way in which one can bid on a link, or a few links if they wish to do so. The link directory
                on MTA displays all of the links it currently has, and does so in alphabetical order, which makes it much easier for someone to find what they are looking for if it is something specific and they do not want to go through all the other
                sites and links as well. It allows you to start your bid at the bottom and slowly work your way to the top of the list.</p> -->
        </div>
        <!-------------------code editor areas -------------------->
        <div class="code_editor_areas   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
            <div class="inner_code_editor_areas   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                <div class="edito_header   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                    <div class="inner_editor_headers   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                        <div class="header_left   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <div class="hd_left_boxs   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <span>Code</span>
                            </div>
                        </div>
                        <div class="header_right   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <div class="hd_right_boxs   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <ul>
                                    <li>
                                        <a href="">
                                            <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                                <path d="M14.3632 6.4637L15.8431 4.98371C16.6242 4.20266 17.8905 4.20266 18.6716 4.98371L20.0858 6.39792C20.8668 7.17897 20.8668 8.4453 20.0858 9.22635L18.6058 10.7063M14.3632 6.4637L4.74749 16.0794C4.41542 16.4114 4.21079 16.8498 4.16947 17.3176L3.92738 20.058C3.87261 20.678 4.39148 21.1969 5.0115 21.1421L7.75191 20.9C8.21972 20.8587 8.65806 20.6541 8.99013 20.322L18.6058 10.7063M14.3632 6.4637L18.6058 10.7063" stroke="#637381" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                              </svg></span>
                                        </a>
                                    </li>
                                    <li>
                                        <span class="copy_tool_tip">Copy</span>
                                        <a (click)="copyText()">
                                            <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                                              <path d="M19.4 20.8121H9.6C9.26863 20.8121 9 20.5435 9 20.2121V10.4121C9 10.0808 9.26863 9.81213 9.6 9.81213H19.4C19.7314 9.81213 20 10.0808 20 10.4121V20.2121C20 20.5435 19.7314 20.8121 19.4 20.8121Z" stroke="#637381" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                              <path d="M15 9.81213V5.41213C15 5.08076 14.7314 4.81213 14.4 4.81213H4.6C4.26863 4.81213 4 5.08076 4 5.41213V15.2121C4 15.5435 4.26863 15.8121 4.6 15.8121H9" stroke="#637381" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main_editors  copy_txt  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                    <div class="editor_import_section   {{ isNightMode ? 'night_mode' : 'day_mode' }}" #paragraphText>
                        <p >
                            <span class="pink_txt">import </span><span class="orange_txt">React </span><span class="pink_txt">from </span><span class="green_txt">'react';</span>
                        </p>
                        <p>
                            <span class="pink_txt">import </span><span class="orange_txt">ReactDom </span><span class="pink_txt">from </span><span class="green_txt">'react-dom';</span>
                        </p>
                        <p>
                            <span class="pink_txt">import </span><span class="orange_txt">ReactMarkdown </span><span class="pink_txt">from </span><span class="green_txt">'react-markdown';</span>
                        </p>
                        <p>
                            <span class="pink_txt">import </span><span class="black_txt">rehypeHighlight </span><span class="pink_txt">from </span><span class="green_txt">'rehype-highlight';</span>
                        </p>
                    </div>
                    <div class="editor_main_code">
                        <p>
                            <span class="orange_txt">ReactDOM </span><span class="black_dot">.</span><span class="blue_txt">render</span><span class="black_backet_txt">(</span>
                        </p>
                        <p class="ml-15">
                            <span class="gray_txt"><</span><span class="dark_red_txt">ReactMarkdown </span><span class="light_orange_txt">rehypePlugins </span><span class="gray_txt">=</span><span class="green_txt">[rehypeHighlight]</span><span class="gray_txt">></span>
                            <span class="black_txt">('# Your markdown here')</span>
                        </p>
                        <p class="ml-15">
                            <span class="dark_red_txt">document</span><span class="black_dot">.</span><span class="blue_txt">querySelector</span><span class="black_backet_txt">(</span><span class="green_txt">'#content'</span><span class="black_backet_txt">)</span>

                        </p>
                        <p>
                            <span class="black_txt">);</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="editors_descriptions   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
            <div class="artical_section_column   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                <h3>Terms to Remember</h3>
                <div class="list   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                    <ul>
                        <li><span>Subsequence and substring:</span> A subsequence is a sequence that can be derived from a string deleting one or more elements. A substring is a contiguous segment of the string.</li>
                        <li><span>Reverse & Rotations in a string:</span> Reverse operation is interchanging the position of characters of a string such that the first becomes the last, the second becomes the second last, and so on.</li>
                    </ul>
                </div>
            </div>
            <div class="artical_section_column unler_lint   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                <h3>Real life examples?</h3>
                <p>A matrix represents a collection of numbers arranged in an order of rows and columns. It is necessary to enclose the elements of a matrix in parentheses or brackets.For example:A matrix with 9 elements is shown below.</p>
            </div>
        </div>
        <!-- video-sections -->
        <div class="video_sections   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
            <div class="inner_video_sections   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                <div class="video_box   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                    <img src="../../../../../assets/img/doc.png" alt="">
                </div>
            </div>

        </div>
        <div class="qestion_from_articale   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
            <div class="faq_headers   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                <h2>Questions from this article</h2>
            </div>
            <div class="faq_containers   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                <div class="faq_item accordion-item  {{ isNightMode ? 'night_mode' : 'day_mode' }}" *ngFor="let item of items">
                    <div class="faq_questions   {{ isNightMode ? 'night_mode' : 'day_mode' }}" (click)="toggleAccordion(item)">
                        <div class="faq_inner_question   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <h4>{{ item.question }}</h4>
                            <span class="opener   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                            <path d="M6 12.8682H12M18 12.8682H12M12 12.8682V6.86816M12 12.8682V18.8682" stroke="#212B36" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                        </span>
                        </div>
                    </div>
                    <div class="faq_ans accordion-content  {{ isNightMode ? 'night_mode' : 'day_mode' }}" *ngIf="item.expanded">
                        <p>{{ item.answer }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq_share_optionss   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
            <div class="inner_faq_share_option   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                <div class="left_s_columns   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                    <ul>
                        <li>
                            <a href="">
                                <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                                  <path d="M5 21.8682V5.86816C5 4.76359 5.89543 3.86816 7 3.86816H17C18.1046 3.86816 19 4.76359 19 5.86816V21.8682L13.0815 18.0634C12.4227 17.6399 11.5773 17.6399 10.9185 18.0634L5 21.8682Z" stroke="#212B36" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                                  <path d="M16.4724 20.8682H4.1C3.76863 20.8682 3.5 20.5995 3.5 20.2682V10.4682C3.5 10.1368 3.76863 9.86816 4.1 9.86816H6.86762C7.57015 9.86816 8.22116 9.49957 8.5826 8.89716L11.293 4.37977C11.8779 3.40504 13.2554 3.31239 13.9655 4.20002C14.3002 4.61841 14.4081 5.17451 14.2541 5.68772L13.2317 9.09576C13.1162 9.48072 13.4045 9.86816 13.8064 9.86816H18.3815C19.7002 9.86816 20.658 11.1221 20.311 12.3944L18.4019 19.3944C18.1646 20.2645 17.3743 20.8682 16.4724 20.8682Z" stroke="#212B36" stroke-width="1.5" stroke-linecap="round"/>
                                  <path d="M7 20.8682L7 9.86816" stroke="#212B36" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </span> 1.3k
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="right_s_column   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                    <div class="button_bodys   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                        <button class="previous   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                        <span>
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                          <path d="M15 6.86816L9 12.8682L15 18.8682" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </span>
                    Previous</button>
                        <button class="next   {{ isNightMode ? 'night_mode' : 'day_mode' }}">

                    Next
                    <span>
                      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                        <path d="M9.5 6.86816L15.5 12.8682L9.5 18.8682" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                  </span>
                  </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
