<div class="article-header  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
    <div class="inner-article-header  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
        <div class="row">
            <div class="col-xl-8">
                <div class="aritecal_header  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                    <h4>Data Structure Basics</h4>
                    <div class="aritecal_btn_sections  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                        <button>Text</button>
                        <button class="light_btnss  {{ isNightMode ? 'night_mode' : 'day_mode' }}">Videos</button>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="artical_share_wrapes  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                    <div class="date_sec  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                        <h4>Updated on: January 4, 2024</h4>
                    </div>
                    <div class="share_column  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                        <ul>
                            <li>
                                <a href="">
                                    <span>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                                    <path d="M6.66699 28V6C6.66699 4.89543 7.56242 4 8.66699 4H23.3337C24.4382 4 25.3337 4.89543 25.3337 6V28L17.0818 22.6953C16.423 22.2717 15.5776 22.2717 14.9188 22.6953L6.66699 28Z" stroke="#212B36" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                  </svg>
                              </span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                                  <path d="M22.4727 26.6667H5.26699C4.93562 26.6667 4.66699 26.398 4.66699 26.0667V12.6C4.66699 12.2686 4.93562 12 5.26699 12H9.53461C10.2371 12 10.8882 11.6314 11.2496 11.029L15.1871 4.46646C15.9042 3.27133 17.5932 3.15772 18.4638 4.24606L18.6783 4.51411C19.0887 5.02711 19.221 5.70895 19.0322 6.3382L17.5654 11.2276C17.4499 11.6126 17.7382 12 18.1401 12H25.3818C26.7006 12 27.6583 13.254 27.3114 14.5262L24.4023 25.1929C24.165 26.063 23.3746 26.6667 22.4727 26.6667Z" stroke="#212B36" stroke-width="1.5" stroke-linecap="round"/>
                                  <path d="M9.33301 26.6667V12" stroke="#212B36" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                              </span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                                  <path d="M10.667 28V21.3333M10.667 21.3333L10.667 4.41043C10.667 3.94033 11.1831 3.65283 11.5828 3.90028L23.8731 11.5085C24.2445 11.7385 24.2536 12.2756 23.8901 12.5179L10.667 21.3333Z" stroke="#212B36" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                              </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
