<div class="ask-our-community  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
    <div class="inner-ask-our-community">
        <div class="ask-our-community-header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="community-header-wraper   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <h2>Ask our community</h2>
                            <p>Seeking personalized advice? Our community is buzzing with experts and enthusiasts.<br>Don't be shy – post your question and tap into a wealth of knowledge!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ask-our-community-content">
            <div class="ask-our-community-inners">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="ask-our-community-wraper">
                                <div class="community-card   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="community-card-inner   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <div class="community-icon   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                            <img src="../../../../../assets/img/react.png" alt="" srcset="">
                                        </div>
                                        <div class="community-cd-content   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                            <h4>React</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="community-card   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="community-card-inner   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <div class="community-icon   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                            <img src="../../../../../assets/img/Angular.png" alt="" srcset="">
                                        </div>
                                        <div class="community-cd-content   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                            <h4>Angular</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="community-card   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="community-card-inner   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <div class="community-icon   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                            <img src="../../../../../assets/img/nextJS.png" alt="" srcset="">
                                        </div>
                                        <div class="community-cd-content   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                            <h4>Next JS</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="community-card   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="community-card-inner   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <div class="community-icon   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                            <img src="../../../../../assets/img/css.png" alt="" srcset="">
                                        </div>
                                        <div class="community-cd-content   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                            <h4>CSS</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="community-card   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="community-card-inner   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <div class="community-icon   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                            <img src="../../../../../assets/img/python.png" alt="" srcset="">
                                        </div>
                                        <div class="community-cd-content   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                            <h4>Python</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="community-card   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="community-card-inner   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <div class="community-icon   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                            <img src="../../../../../assets/img/viu.png" alt="" srcset="">
                                        </div>
                                        <div class="community-cd-content   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                            <h4>Vue JS</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="community-card   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="community-card-inner   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <div class="community-icon   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                            <img src="../../../../../assets/img/typeScript.png" alt="" srcset="">
                                        </div>
                                        <div class="community-cd-content   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                            <h4>Type Script</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="community-card   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="community-card-inner   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <div class="community-icon   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                            <img src="../../../../../assets/img/php.png" alt="" srcset="">
                                        </div>
                                        <div class="community-cd-content   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                            <h4>PHP</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="community-card   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="community-card-inner   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <div class="community-icon   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                            <img src="../../../../../assets/img/Angular.png" alt="" srcset="">
                                        </div>
                                        <div class="community-cd-content   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                            <h4>Angular</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="community-card   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="community-card-inner   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <div class="community-icon   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                            <img src="../../../../../assets/img/css.png" alt="" srcset="">
                                        </div>
                                        <div class="community-cd-content   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                            <h4>CSS</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="community-card   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="community-card-inner   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <div class="community-icon   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                            <img src="../../../../../assets/img/react.png" alt="" srcset="">
                                        </div>
                                        <div class="community-cd-content   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                            <h4>React</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="community-card   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <div class="community-card-inner   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <div class="community-icon   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                            <img src="../../../../../assets/img/git.png" alt="" srcset="">
                                        </div>
                                        <div class="community-cd-content   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                            <h4>Github</h4>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="view_all {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <button class="v_all_btn {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                  View all the topics
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
