.input_field>input {
    border-radius: 56px;
    border: var(--textfield-standard-input-small-pt, 1px) solid var(--components-textfield-outline, rgba(145, 158, 171, 0.20));
    opacity: var(--textfield-standard-input-small-pt, 1);
    padding: 8px 20px;
    width: 100%;
    outline: none;
}

textarea.msg {
    border-radius: var(--textfield-outlined-radius, 8px);
    border: var(--textfield-standard-input-small-pt, 1px) solid var(--components-textfield-outline, rgba(145, 158, 171, 0.20));
    opacity: var(--textfield-standard-input-small-pt, 1);
    width: 100%;
    height: 98px;
    outline: none;
}

label.input_label {
    color: var(--text-secondary, #637381);
    leading-trim: both;
    text-edge: cap;
    font-family: Satoshi;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    /* 100% */
}

.input_box {
    position: relative;
}

label.input_label {
    position: absolute;
    left: 20px;
    background: white;
    top: -6px;
}

.form_row {
    margin-bottom: 28px;
}

.full_btn_aresa>button {
    border-radius: 500px;
    background: var(--main-light-primary, #00A76F);
    color: var(--primary-contrast-text, #FFF);
    font-family: Satoshi;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    /* 173.333% */
    padding: 8px 24px;
    outline: none;
    border: none;
}

.form_row.only_mr {
    margin-bottom: 20px;
}

.inner_contact_img_box {
    text-align: right;
}

.contact_from {
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.contact_us_page {
    padding: 64px 0px;
}


/* dark */


/*dark*/

.contact_us_page.day_mode {
    background: var(--background-default, #161C24);
}

.login_page_header_only.day_mode>h2 {
    color: #fff !important;
}

.input_field.day_mode>input {
    border-radius: 56px;
    border: var(--textfield-standard-input-small-pt, 1px) solid var(--components-textfield-outline, rgba(145, 158, 171, 0.20));
    opacity: var(--textfield-standard-input-small-pt, 1);
    background: #161c24;
}

label.input_label.day_mode {
    color: #919EAB;
    background: #161c24;
}

.inner_contact_rows.day_mode>h4>span {
    color: #919EAB;
}

.inner_contact_rows.day_mode>h4>span {
    background: #161c24 !important;
}

.full_btn_aresa.day_mode>button {
    background: #5BE49B !important;
}

button.social_btns.day_mode {
    border-radius: 500px;
    border: 1px solid var(--primary-48, rgba(0, 167, 111, 0.48)) !important;
    background: #161c24;
    color: #5be49b;
}

textarea.day_mode.msg {
    /* border-radius: 56px; */
    border: var(--textfield-standard-input-small-pt, 1px) solid var(--components-textfield-outline, rgba(145, 158, 171, 0.20));
    opacity: var(--textfield-standard-input-small-pt, 1);
    background: #161c24;
}

@media only screen and (max-width: 1222px) and (min-width: 999px) {}

@media only screen and (max-width: 1658px) and (min-width: 1000px) {}

@media only screen and (max-width: 1002px) and (min-width: 665px) {}

@media only screen and (max-width: 664px) and (min-width: 300px) {}


/* js_cont_justify */

@media only screen and (max-width: 1398px) and (min-width: 993px) {
    .inner_contact_img_box>img {
        width: 100%;
    }
}

@media only screen and (max-width: 999px) and (min-width: 300px) {
    .inner_contact_img_box>img {
        width: 100%;
    }
}

@media only screen and (max-width: 826px) and (min-width: 300px) {}

@media only screen and (max-width: 480px) and (min-width: 300px) {}

@media only screen and (max-width: 370px) and (min-width: 320px) {}

@media only screen and (max-width: 900px) and (min-width: 370px) {}

@media only screen and (max-width: 790px) and (min-width: 300px) {
    .inner_contact_img_box>img {
        width: 100%;
    }
    .input_box.only_this_mt {
        margin-bottom: 28px;
    }
}

@media only screen and (max-width: 1920px) and (min-width: 1080px) {}

@media only screen and (max-width: 999px) and (min-width: 826px) {}

@media only screen and (max-width: 11200px) and (min-width: 1600px) {}

@media only screen and (max-width: 999px) and (min-width: 400px) {}

@media only screen and (max-width: 999px) and (min-width: 551px) {}

@media only screen and (max-width: 1382px) and (min-width: 1000px) {}

@media only screen and (max-width: 1480px) and (min-width: 1000px) {}

@media only screen and (max-width: 1524px) and (min-width: 1422px) {}

@media only screen and (max-width: 1657) and (min-width: 1524px) {}

@media only screen and (max-width: 11200px) and (min-width: 1400px) {}

@media only screen and (max-width: 1000px) and (min-width: 700px) {}

@media only screen and (max-width: 999px) and (min-width: 300px) {}

@media only screen and (max-width: 999px) and (min-width: 768px) {}

@media only screen and (max-width: 767px) and (min-width: 300px) {}

@media only screen and (max-width: 4999px) and (min-width: 999px) {}

@media only screen and (max-height: 4999px) and (min-height: 990px) {}
