<div class="contact_us_page   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
    <div class="inner_contact_us_page   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 ">
                    <div class="contact_from   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                        <div class="inner_contact_from   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <div class="contact_box   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <form action="">
                                    <div class="form_wraper   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <div class="form_row   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-6">
                                                    <div class="input_box  only_this_mt  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                        <label for="" class="input_label   {{ isNightMode ? 'night_mode' : 'day_mode' }}">Name</label>
                                                        <div class="input_field   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                            <input type="" name="" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6">
                                                    <div class="input_box  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                        <label for="" class="input_label   {{ isNightMode ? 'night_mode' : 'day_mode' }}">Email</label>
                                                        <div class="input_field   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                            <input type="" name="" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form_row   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                            <div class="row">

                                                <div class="col-xl-12">
                                                    <div class="input_box   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                        <label for="" class="input_label   {{ isNightMode ? 'night_mode' : 'day_mode' }}">Select your issue</label>
                                                        <div class="input_field   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                            <input type="" name="" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form_row only_mr   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                            <div class="row">

                                                <div class="col-xl-12">
                                                    <div class="input_box   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                        <label for="" class="input_label   {{ isNightMode ? 'night_mode' : 'day_mode' }}">Explain problem</label>
                                                        <div class="input_field   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                            <textarea name="" id="" class="msg   {{ isNightMode ? 'night_mode' : 'day_mode' }}"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="submit_btns_areass   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    <div class="full_btn_aresa   {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                                        <button>Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6  col-md-6">
                    <div class="contact_img_box">
                        <div class="inner_contact_img_box">
                            <img src="../../../../assets/img/contact_us.png" alt="" srcset="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
