<div class="inner_community_options">
    <div class="topic_options {{ isNightMode ? 'night_mode' : 'day_mode' }}  dropdown-select" id="dropbox">
        <select class="select-box">
      <option></option>
      <option value="1">Java</option>
      <option value="2">PHP</option>
      <option value="3">JavaScript</option>
      <option value="4">Ruby</option>
      <option value="5">Python</option>
      <option value="6">HTML</option>
      <option value="7">CSS</option>
    </select>
        <span class="selection {{ isNightMode ? 'night_mode' : 'day_mode' }}  " id="selected_title">Topic</span>
        <span class="right-icon {{ isNightMode ? 'night_mode' : 'day_mode' }}  {{ isNightMode ? 'night_mode' : 'day_mode' }}  ">
        <i class="fa-solid fa-chevron-down"></i>
      </span>
        <ul class="list-items {{ isNightMode ? 'night_mode' : 'day_mode' }}  ">
            <li data-value="1">Java</li>
            <li data-value="2">PHP</li>
            <li data-value="3">JavaScript</li>
            <li data-value="4">Ruby</li>
            <li data-value="5">Python</li>
            <li data-value="6">HTML</li>
            <li data-value="7">CSS</li>
        </ul>

    </div>
    <div class="topic_options {{ isNightMode ? 'night_mode' : 'day_mode' }}   dropdown-select" id="dropbox2">
        <select class=" select-box2">
      <option></option>
      <option value="1">Java</option>
      <option value="2">PHP</option>
      <option value="3">JavaScript</option>
      <option value="4">Ruby</option>
      <option value="5">Python</option>
      <option value="6">HTML</option>
      <option value="7">CSS</option>
    </select>
        <span class="selection {{ isNightMode ? 'night_mode' : 'day_mode' }}  " id="selected_title2">Category</span>
        <span class="right-icon {{ isNightMode ? 'night_mode' : 'day_mode' }}  ">
        <i class="fa-solid fa-chevron-down"></i>
      </span>
        <ul class="list-items2 {{ isNightMode ? 'night_mode' : 'day_mode' }}  ">
            <li data-value="1">Java</li>
            <li data-value="2">PHP</li>
            <li data-value="3">JavaScript</li>
            <li data-value="4">Ruby</li>
            <li data-value="5">Python</li>
            <li data-value="6">HTML</li>
            <li data-value="7">CSS</li>
        </ul>
    </div>
</div>