<div class="main_banner_container  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
    <!-- <img src="../../../../assets/img/spd.png" alt=""> -->
    <div class="inner_banner_container">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="full_banner_wraper  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                        <div class="banner_heading  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <h2>Search, Solve, Succeed</h2>

                        </div>
                        <div class="banner_search_ber">
                            <div class="banner_banner_search_ber">
                                <div class="search_box_cont  {{ isNightMode ? 'night_mode' : 'day_mode' }}" class="night_for_night">
                                    <span>
                                    <img src="../../../../assets/img/search.svg" alt="" srcset="" class="night_for_night">
                                    <img src="../../../../assets/img/dark_search.png" alt="" srcset="" class="day_for_night">
                                  </span>
                                    <input type="text" class="search_box" placeholder="Search">
                                    <button>Search</button>
                                </div>
                                <div class="search_cat">
                                    <div class="inner_search_cat  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <ul>
                                            <li>
                                                <a href="">Data Science</a>
                                            </li>
                                            <li>
                                                <a href="">Artificial Intelligence</a>
                                            </li>
                                            <li>
                                                <a href="">Machine Learning</a>
                                            </li>
                                            <li>
                                                <a href="">DSA</a>
                                            </li>

                                        </ul>
                                    </div>
                                    <h2 class="sub_heading  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        Looking for a fresh perspective?
                                    </h2>
                                    <div class="banner_btn  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <button>Go to Community</button>
                                    </div>
                                    <div class="banner_arrow  {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                        <span>
                                          <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none">
                                            <path d="M16 24L32 40L48 24" stroke="#212B36" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                          </svg>
                                      </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
