<div class="about-us-page    {{ isNightMode ? 'night_mode' : 'day_mode' }}">
    <img src="../../../../assets/img/peters.png" alt="" class="abt_imges    {{ isNightMode ? 'night_mode' : 'day_mode' }}">
    <img src="../../../../assets/img/dark_pt.png" alt="" class="darks_imges    {{ isNightMode ? 'night_mode' : 'day_mode' }}">
    <div class="inner_about_page_inners    {{ isNightMode ? 'night_mode' : 'day_mode' }}">
        <div class="mai_abt_section    {{ isNightMode ? 'night_mode' : 'day_mode' }}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="about_title_areass    {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <div class="about_inner_about_areass    {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <h2>About Us</h2>
                            </div>
                            <img src="../../../../assets/img/about_imgs.png" alt="" srcset="" class="abt_imgss light_imgss    {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <img src="../../../../assets/img/abt_dark.png" alt="" srcset="" class="abt_imgss darks_imgss    {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="abut_content_descriptions    {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <div class="abut_descriptions    {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <div class="content">
                                    <p>
                                        At Coding Gurus we believe in learning & Growing together. Founded in 2023, we've been on a mission to [purpose or vision] from day one. Our commitment to [quality/service/mission] sets us apart, and our journey has been defined by [key milestones, achievements,
                                        or experiences].
                                    </p>
                                </div>
                                <div class="content_img_thumbs    {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                    <img src="../../../../assets/img/about_desk.png" alt="" srcset="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-------------About_column_section----------------->
    <div class="about_columnss_sections    {{ isNightMode ? 'night_mode' : 'day_mode' }}">
        <div class="inner_about_columnss_sections    {{ isNightMode ? 'night_mode' : 'day_mode' }}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4">
                        <div class="content_column_sections    {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <div class="inner_content_col    {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <h4>
                                    What’s our story
                                </h4>
                                <p>
                                    It all began when [founder's name] had a vision for [purpose of the company]. Fueled by [passion, expertise, or experience], [he/she/they] embarked on a journey to create something extraordinary. What started as a [small team/individual effort] has now
                                    blossomed into [current scale or size of the company].
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="content_column_sections    {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <div class="inner_content_col    {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <h4>
                                    What we do and why we do it?
                                </h4>
                                <p>
                                    At [Your Company Name], we are driven by a singular mission: [clearly state your mission]. Whether it's [product/service 1], [product/service 2], or [another offering], everything we do is aimed at [benefit or impact]. We believe in [core values], and
                                    these principles guide us in every decision and action.

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="content_column_sections    {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                            <div class="inner_content_col    {{ isNightMode ? 'night_mode' : 'day_mode' }}">
                                <h4>
                                    What makes us different
                                </h4>
                                <p>
                                    We understand that there are many [industry/niche] options out there, but what makes [Your Company Name] unique is [differentiating factor]. From our [innovative approach/exceptional team/commitment to sustainability], we are dedicated to providing [customers/clients]
                                    with an unparalleled experience.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cmunity_section    {{ isNightMode ? 'night_mode' : 'day_mode' }}">
    <community></community>
</div>
